
.Barra-login-registro {
    height: 70px;
    background-color: rgb(4, 6, 50);
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.frase-login-registro {
    font-size: 15pt;
    font-family: cursive;
    width: 800px;
    text-align: center;
}

.login-registro{
    display: grid;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    justify-content: center;
}

.formulario-login-registro{
    display: grid;
    width: 400px;
    height: auto;
    align-items: center;
    justify-items: center;
    border-radius: 8px;
    border: solid white 1px;
    padding: 20px;
}

.ingreso-texto{
    text-align: center;
    display: grid;
    width: 300px;
    margin: 0 auto;
    height: 60px;
}

.input-login-registro{
    text-align: center;
    border-radius: 8px;
    border: none;
}

.text{
    font-size: 15pt;
    font-family: cursive;
}

.titulo-login-registro{
    font-size: 20pt;
    font-family: cursive;
    text-align: center;
}

.boton-login{
    width: 300px;
    height: 40px;
    border-radius: 8px;
    background-color: rgb(25, 33, 173);
    color: white;
    border: none;
}

.boton-login:hover{
    background-color: rgb(4, 6, 50);
}

.boton-registro{
    width: 300px;
    height: 40px;
    border-radius: 8px;
    background-color: rgb(173, 25, 28);
    color: white;
    border: none;
}

.boton-registro:hover{
    background-color: rgb(4, 6, 50);
}

.lugar-boton-registro{
    margin-top: 20px;
    text-align: center;
}

.lugar-boton-login-registro{
    margin-top: 20px;
}

.pie-pagina-login-registro{
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: rgb(4, 6, 50);
    color: white;
    justify-content: center;
    height: 50px;
    align-items: center;
}

.cuerpo-login-registro{
    background-image: url('../assets/fondo/Fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}