
.Barra-dashboard{
    height: 70px;
    background-color: rgb(4, 6, 50);
    color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    
}

.usuario-salir{
    justify-content: center;
    display: flex;
    gap: 20px;
}

.boton-salir{
    width: 80px;
    height: 35px;
}

.acciones-dashboard{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}



